<table>
	<tr>
		<th>User Id</th>
		<th>First</th>
		<th>Last</th>
		<th>Email</th>
		<th>Username</th>
	</tr>
	<tr>
		<td><%= @user.id %></a></td>
		<td><%= @user.name_first %></td>
		<td><%= @user.name_last %></td>
		<td><%= @user.email %></td>
		<td><%= @user.username %></td>
	</tr>
</table> 


