<table>
	<tr>
		<th>Order_id</th>
			<th>Item</th>
	      <th>Amount of item (lb)</th>
	      <th>Cost (USD)</th>
	      <th>Username</th>
	      <th>Order Status</th>
	      <th>Action</th>
	      <th>Action</th>
	</tr>
	<tr>
		<td><%= @order.id %></a></td>
		<th><%= @order.items.first.name %></th>
		<td><%= @order.amount_of_item %></td>
		<td><%= @order.cost %></td>
		<td><%= @order.user.username %></td>
		<th>Received</th>
        <td><%= link_to 'Edit', edit_order_path(@order), class: "btn btn-primary btn-md" if @order.user_id == current_user.id%></td>
        <td><%= link_to 'Destroy', @order, class: "btn btn-primary btn-md", method: :delete, data: { confirm: 'Are you sure?' } if @order.user_id == current_user.id%></td>
	</tr>
</table> 

