<p id="notice"><%= notice %></p>

<h1>Storages</h1>

<table>
  <thead>
    <tr>
      <th>Max capacity</th>
      <th>Cur capacity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @storages.each do |storage| %>
      <tr>
        <td><%= storage.max_capacity %></td>
        <td><%= storage.cur_capacity %></td>
        <td><%= link_to 'Show', storage %></td>
        <td><%= link_to 'Edit', edit_storage_path(storage) %></td>
        <td><%= link_to 'Destroy', storage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Storage', new_storage_path %>
