<p id="notice"><%= notice %></p>

<p>
  <strong>Max capacity:</strong>
  <%= @storage.max_capacity %>
</p>

<p>
  <strong>Cur capacity:</strong>
  <%= @storage.cur_capacity %>
</p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
