<p>HOT SAUCE</p>

<td><%= link_to 'LOGIN', new_user_session_path %></td>

<td><%= link_to 'SIGNUP', new_user_registration_path %></td>

<td><%= link_to 'EDIT', edit_user_registration_path if current_user %></td>

<td><%= link_to 'NEW ORDER', new_order_path if current_user %></td>

<td><%= link_to 'ITEMS', items_path if current_user %></td>